#login{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    margin-bottom: 1.5rem;
    font-size: xx-large;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(19, 174, 212);
    padding: 2rem;
    border-radius: 1rem;
}

.field{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
    width: 100%;
    padding: 0.8rem 0;
}

.field input{
    padding: 0.4rem;
    font-size: large;
    border-radius: 0.5rem;
    border: none;
}

.actions{
    margin-left: auto;
}

.actions button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
}

.actions button:hover{
    background-color: rgb(139, 211, 230);
    cursor: pointer;
    transition: 0.2s;
}